.title {
    text-align: center;
    padding: 10px;
}

.txtb {
    border-bottom: 2px solid #adadad;
    position: relative;
    margin: 30px 0;
}

.formControl {
    border: none !important;
    background: none !important;
    outline: none !important;
    height: 40px;
    position: relative;
    z-index: 2;
}

.txtb span::before {
    content: attr(data-placeholder);
    position: absolute;
    top: 50%;
    left: .75rem;
    color: #adadad;
    transform: translateY(-50%);
    z-index: 1;
    transition: .5s;
}

.txtb span::after {
    content: '';
    position: absolute;
    width: 0%;
    height: 2px;
    background: linear-gradient(120deg, #7ea16b, #596f62);
    transition: .5s;
}

.focus + span::before {
    top: -7px;
    color: inherit;
}

.focus + span::after {
    width: 100%;
}